<h1>Assingment 3</h1>
<div class="row" *ngFor="let book of bookArray">
  <div class="col">
    <img src={{book.img}} width=250 height=300 alt="book cover image">
  </div>
  <div class="col">
    <h1>{{book.title}}</h1>
    <p>{{book.releaseDate | date:'MMM, y'}}</p>
    <p [ngClass]="{'sciencefiction': isScifi(book.genre), 'software': isSoftware(book.genre), 'fantasy': isFantasy(book.genre)}">{{book.genre}}</p>
    <p>{{book.summary | slice:0:100}}</p>
    <p>{{book.price}}&euro;</p>
    <!-- <p>{{book.price | currency:'EUR'}}</p> -->
  </div>
</div>
