<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/books">Books</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
      <!-- <app-home></app-home>
      <hr/>
      <app-books></app-books> -->
    </div>
  </div>
</div>
